<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="verify_styles.css">
    <title>GetADriver</title>
</head>

<div class="top-bar" style="font-family: Lato;">
        <a href="index.html" style="font-family: Playfair Display; font-weight: normal; font-size: 18px;">GetADriver</a>

        <div class="top-bar-right">
            <a href="#">ABOUT</a>
            <a href="#">CONTACT</a>
            <a href="#">WHY US?</a>
            <a href="#">FAQs</a> 
        </div>
</div>
<body style="font-family: Lato;">
    <div id="verify">
        <img src="assets/verified-account.svg" alt="">
    </div>

</body>
</html>